@use '../global/' as global;

// Universal
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

html {
  font-size: 10px;
}

body {
  width: 100%;
  height: 100%;
  font-family: global.$lato;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
small {
  margin: 0;
  color: map-get(global.$colors, main-text);
}

.list {
  list-style: inside;
  padding: 5rem;
  li {
    display: list-item;
    a {
      font-size: 1.8rem;
    }
  }
}
