// Google Fonts
@import 'https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap';

// Variables
// Colors
$colors: (
  main-text: #20242c,
);

// Fonts
$lato: 'Lato', sans-serif;
